
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15rem;
  width: 50%;
  
}
.container{
  margin-left: 15rem;
  margin-top: 10px;
  box-shadow: 0px 0px 12px #ccc;
  border-radius: 8px;
  padding-left:2.8rem ;
}
input{
  width: 80%;
  font-size: 1.2rem;
  padding: 8px 4px ;
  margin: 8px 0;
  border-radius: 8px;
}
.btn{
  display: block;
  width: 80%;
  height: 1.9rem;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  margin: 8px 0;
  font-size: 1.1rem;
  cursor: pointer;
}
.btn-outline{
  background-color: #fff;
  color: black;
}
.centre{
  margin-top: 10px;
  margin-left:4.1rem ;
  
}
p{
  margin-left: 4.9rem;
}
.img-container{
  text-align: center;
}
h3{
  margin-left: 4.9rem;
}
.img{
  margin-left: 2rem;
  width: 40px;
}











